.hero-container{
  @apply flex justify-center h-full;
}







.herodata::before {
  background-size:cover;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	background-image: radial-gradient(circle at 50% 0%, rgba(39, 9, 9, 0.8), rgba(8, 5, 5)), url("../../../assets/hero-backgrounds/loadout_bg_fire_004_jpg.jpeg");
  filter: blur(6px) saturate(1.3); 
  z-index: -1;
}
